@{
    ViewBag.Title = "freelanceHub.org";
}


<section id="main">
    <section id="logo">
        <div id="gofer" class="gofer">freelance<span>Hub</span></div>
        <p id="tagline">Less time searching for work.<br /> More time getting paid... or doing whatever you like.
    </section>
   
</section>

<section id="features">
    <ul id="feature-list">
        <li class="plaid-box">1. <br />Search
            <div class="small_text">The sites you want.</div>
            <a href="/Content/images/search_screenshot_large.png" target="_blank">
            <img class="screenshot" src="/Content/images/search_screenshot.png" /></a></li>
        <li class="plaid-box">2.<br />Save Leads
            <div class="small_text">Organize jobs in one place.</div>
            <a href="/Content/images/search_screenshot_large.png" target="_blank">
            <img class="screenshot" src="/Content/images/search_screenshot.png" /></a></li>
        <li class="plaid-box">3.<br />Relax
            <div class="small_text">Have more time to do what you want.</div>
             <a href="/Content/images/search_screenshot_large.png" target="_blank">
            <img class="screenshot" src="/Content/images/search_screenshot.png" /></a></li>
            
    </ul>
</section>

<section id="takeAction">
    <p><em>Launching soon!<br /> Sign up to get beta access.</em>
    <!-- // MAILCHIMP SUBSCRIBE CODE \\ -->
    <p><a href="http://eepurl.com/sPIZT"><button id="sign-up" class="red large">Sign Up Now!</button></a></p>
</section>



