@{
    ViewBag.Title = "freelancehub.io - Welcome!";
}

<section id="main">
    <section id="logo">
        <div id="gofer" class="gofer">freelance<span>Hub</span></div>
        <p id="tagline">Thank you for signing up!</p>
        <p class="medium_text">Don't forget to check your email, and verify your account.<br />
         We will notify you upon launch! </p>
    </section>
   
</section>

<section id="features">
    <ul id="feature-list">
        <li class="plaid-box">1. <br />Search
            <div class="small_text">The sites you want.</div>
            <a href="/Content/images/search_screenshot_large.png" target="_blank">
            <img class="screenshot" src="/Content/images/search_screenshot.png" /></a></li>
        <li class="plaid-box">2.<br />Save Leads
            <div class="small_text">Organize jobs in one place.</div>
            <a href="/Content/images/my_jobs_large.png" target="_blank">
            <img class="screenshot" src="/Content/images/my_jobs.png" /></a></li>
        <li class="plaid-box">3.<br />Relax
            <div class="small_text">Have more time to do what you want.</div>
             
            <img class="screenshot" src="/Content/images/relax.png" /></li>
            
    </ul>
</section>

<!-- Google Code for Signup Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 997891055;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "tkVLCLG6hgQQ77fq2wM";
var google_conversion_value = 0.00;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/997891055/?value=0.00&amp;label=tkVLCLG6hgQQ77fq2wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>